{% extends '::base.html.twig' %}

{% block body %}
    <form action="" method="post">
        <label for="dob">DOB</label>
        <input name="dob" id="dob" type="date">
        <input type="submit">
    </form>
{% endblock %}
